.container-fluid{
    width: 100%;
    height: 100vh;
    background: rgb(137, 179, 149);

}


input.ng-invalid.ng-touched{
    border: 4px solid rgb(235, 48, 48);
}

form{
    padding: 25px;
    margin-left: 50%;
    margin-top: 8%;
}

h2{
    text-align: center;
    color: rgb(59, 58, 58);
}

label{
    font-weight: bold;
}