<section id="intro">
    <div class="intro-item active">
        <div class="container-fluid">
            <div class="content">
                <h2>Order Management System</h2>
                <blockquote>"In E-commerce world, delivering customer products and services faster is not only way for business growth 
                    and success but managing millions of products effectively and productively is also a key 
                    factor in the race towards business leaders."<br/><br/>   
                        <h3>SINGAM VIKAS CHANDRA</h3>
                </blockquote>
            </div>
        </div>
    </div>
</section>